.thead {
table-layout: fixed;
border-collapse: collapse;
border: 3px solid rgb(0, 0, 0);
text-align: center;
font-size: 20px;
font-weight: 600;
}

.row {
   background-color: rgb(175, 172, 172);
}

thead th:nth-child(1) {
    width: 30%;
  }
  
  th:nth-child(2) {
    width: 20%;
  }
  
  th:nth-child(3) {
    width: 15%;
  }
  
  th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
    border: 1px solid grey;
  }

  tr:nth-child(even) {
    background: rgb(216, 216, 216);
  }

